/* $Id$ */

div#block-admin-alert-adminalerts {
  position:absolute;
  top:28px;
  right:40px;
  z-index:9999;
  max-width:240px;
  border: 2px dashed lightgrey;
  padding:9px 19px;
  background:white;
}
