/* $Id$ */

ul.admin-alert li {
  list-style-type:none;
  position:relative;
}
ul.admin-alert li .icon,
.admin-alert-links a.icon {
  background-image:url('img/icons.png');
  background-repeat:no-repeat;
  background-color:transparent;
  height:24px; width:24px;
  display:block; overflow:hidden; text-indent:-9999px;
}

ul.admin-alert li span.icon {position:absolute; left:-26px; top:0;}
ul.admin-alert li.action span.icon {background-position: 0 -24px;}

.admin-alert-links {float:right;clear:right; height:24px; min-width:24px;}
.admin-alert-links a {opacity:0.4; float:left;}
.admin-alert-links a:hover {opacity:1;}
.admin-alert-links a.admin-alert-read {background-position: 0 -48px;}
.admin-alert-links a.admin-alert-read:hover {background-position: 0 -72px;}
.admin-alert-links a.admin-alert-close {background-position: 0 -96px;}
.admin-alert-links a.admin-alert-delete {background-position: 0 -120px;}

.admin-alert-visit-link {font-size:9px;}

div#block-admin-alert-adminalerts p {color:lightcoral;}

.admin-alert div.changed {color:green; font-variant:small-caps; font-size:x-small; font-weight:bold;}
.admin-alert div.error {color:red; font-variant:small-caps; font-size:x-small; font-weight:bold;}
